@media screen and (min-width: 1150px)
  .header
    grid-template-columns: repeat(9, 1fr)
    &__link_5
      grid-column: 9
    &__link_6
      grid-column: 7
    &__link_7
      grid-column: 8
    &__search
      grid-column: 8 / span 2
      position: relative
      &_drop-down
        position: absolute
        top: 30px
        left: 0
        z-index: 1
        background-color: #fff
        border: 1px solid #ccc
        display: none
        padding: 10px 13px
        min-width: 250px
        & > div
          margin-bottom: 10px
  .menu
    grid-column: 4 / span 6
    &__list
      margin-left: 50px
  .slider
    min-height: 680px
    &__arrow_left
      left: 30px
      &:hover
        cursor: pointer
    &__arrow_right
      right: 30px
      &:hover
        cursor: pointer
    &__pagination
      position: absolute
      left: 48.5%
    &__slide1
      display: flex
      flex-direction: column
      padding-top: 15%
      padding-left: 55%
      &-box
        display: flex
        flex-direction: column
        padding-top: 15%
        padding-left: 55%
      &-p
        font-size: 30px
        line-height: 45px
        padding-left: 10px
      &-h2
        font-size: 100px
        line-height: 80px
      &-h3
        font-size: 35px
        line-height: 33px
        width: 100%
    &__slide2
      padding: 10% 0 0
      &-box
        max-width: 950px
        margin: 0 auto
      &-h2
        font-size: 84px
        line-height: 67px
      &-h3
        font-size: 43px
        line-height: 40px
      &-p
        font-size: 13px
        line-height: 20px
        margin: 0
      &-link
        margin-top: 22px
    &__slide3
      padding-left: 10%
      &-h2
        font-size: 50px
        line-height: 40px
      &-h1
        font-size: 209px
        line-height: 134px
        margin: 24px 0
      &-h3
        font-size: 69px
        line-height: 62px
      &-h4
        font-size: 50px
        line-height: 40px
        margin: 24px 0 19px
      &-p
        font-size: 28px
        line-height: 40px
    &__circle
      width: 14px
      height: 14px
  .advertising
    padding-top: 60px
    grid-template-rows: 433px repeat(2, 250px)
    grid-gap: 30px
    &__big
      padding: 0 20px
      &-text
        padding-top: 50px
      &-p
        font-size: 18px
        line-height: 40px
        font-weight: 700
      &-block
        font-size: 25px
        line-height: 40px
      &-h3
        font-size: 20px
        line-height: 40px
      & > a
        margin-bottom: 50px
    &__small
      padding: 100px 20px 20px
      &-h2
        font-size: 40px
        line-height: 22px
      &-h4
        font-size: 23px
        line-height: 22px
      &-block
        font-size: 30px
        line-height: 22px
      &-p
        font-size: 25px
        line-height: 22px
      & > a
        margin-top: 50px

  .slider-small
    &_slide1
      padding-top: 110px
      &-block
        padding: 0 33px
        font-size: 40px
        line-height: 40px
      &-p
        font-size: 25px
        line-height: 40px
    &_slide2
      min-width: 300px
      padding-top: 122px
      &-p
        font-size: 23px
        line-height: 40px
      &-h2
        font-size: 100px
        line-height: 40px
      &-hr
        width: 70px
        height: 2px
        margin-top: 20px
      &-h3
        font-size: 30px
        line-height: 40px
        letter-spacing: 0.13em
      &-h4
        font-size: 19px
        line-height: 22px
    & > a
      width: 100%

  .slider-big
    height: 530px
    &_slide2
      padding: 180px 40px 0
      &-box
        padding: 32px 0 41px
      &-block
        font-size: 18px
        line-height: 40px
    &_slide1
      padding: 212px 68px 0
  .categories__navigation
    padding-top: 60px
    margin-bottom: 50px

  .products
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 30px
    &__item
      height: 475px
      &-img
        height: 350px
      &-more
        grid-column: span 4
        margin-bottom: 121px

  .display-block
    display: block

  .footer
    &__about
      &-img
        height: 180px
        width: 180px
    &__blog
      &-img
        width: 205px
        height: 150px
        &-1
          grid-column: 1
          grid-row: 2
        &-2
          grid-column: 2
          grid-row: 2
      &-grid
        display: grid
        grid-template-columns: repeat(auto-fit, 205px)
        grid-gap: 10px
        & > .footer__title
          grid-column: 1 / span 2
      &-desc-1
        max-width: 205px
        grid-column: 1
        grid-row: 3
      &-desc-2
        max-width: 205px
        grid-column: 2
        grid-row: 3
    &__contact
      display: grid
      grid-gap: 30px
      & > .footer__title
        grid-column: 1 / 3
      &-map
        grid-column: 1
      &-form
        grid-column: 2

  .anchor
    left: 95%
  .alert
    & > h1
      font-size: 2.2em
  .submit
    font-size: 1.5em
    padding: 30px 55px

