@media screen and (min-width: 724px)
  .fa-search
    padding: 0
  .header
    grid-template-columns: repeat(7, 1fr)
    &__link_1
      grid-column: 1
      justify-self: start
      display: flex
    &__link_2
      grid-column: 2
      justify-self: start
      display: flex
    &__link_3
      grid-column: 3
      justify-self: start
      display: flex
    &__link_4
      display: none
      &n
        justify-self: start
        display: block
        grid-column: 4
        grid-row: 1
        padding: 8px 0
    &__link_5
      justify-self: end
      padding: 8px 0
      display: flex
      grid-column: 7
    &__link_6
      justify-self: center
      margin: 0
      grid-column: 5
      grid-row: 1
      padding: 5px 0
    &__link_7
      justify-self: center
      margin: 0
      grid-column: 6
      grid-row: 1
      padding: 5px 0
    &__link_8
      grid-column: 1 / 4
      grid-row: 2
      padding: 33px 0 0
      justify-self: start
    &__flex
      display: none
    &__search
      grid-column: 6 / span 2
      margin: 34px 0 0
      align-self: start
      max-width: 260px
      padding-right: 10px
      &_drop-down
        left: -10px
        min-width: 230px
    &__input
      height: 32px

  .menu
    display: block
    grid-column: 1 / span 7
    margin-top: 34px
    &__ul
      display: flex
      justify-content: space-between
    &__link
      color: #565656
      font-family: Cousine, sans-serif
      font-size: 14px
      font-weight: 700
      text-transform: uppercase

  .slider
    height: 428px
    &__arrow_left,
    &__arrow_right
      display: block
    &__slide1
      padding-top: 94px
      &-p
        font-size: 22px
        line-height: 34.27px
      &-h2
        font-size: 75px
        line-height: 61px
      &-h3
        font-size: 26px
        line-height: 25.13px
        width: 286px
      &-link
        margin-top: 20px
    &__slide2
      padding: 79px 0
      &-box
        margin: 0 auto
        max-width: 580px
      &-h2
        font-size: 65px
        line-height: 53px
        margin-bottom: 26px
        & > div:first-child
          margin-right: 9px
        & > div:first-child
          margin-left: 9px
      &-h3
        font-size: 35px
        line-height: 34px
        margin-bottom: 24px
      &-p
        font-family: "Cousine", sans-serif
        display: block
        font-size: 12px
        line-height: 20px
        font-weight: 700
        text-transform: uppercase
        color: #ffffff
        padding: 0 22px
        margin-bottom: 18px
    &__slide3
      padding: 79px 94px
      &-h2
        font-size: 28px
        line-height: 22.5px
      &-h1
        margin-top: 36px
        font-size: 118px
        line-height: 22.5px
      &-h3
        font-size: 39px
        margin-top: 39px
      &-h4
        font-size: 28px
        margin-top: 13px
      &-p
        font-size: 16px
      &-link
        margin-top: 19px
    &__pagination
      left: 46%
  .advertising
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 20px
    grid-template-rows: 266px 154px 154px
    &__big
      grid-column: 3
      grid-row: 1 /span 2
      height: 100%
      padding: 0 7px
      &-p
        font-size: 13px
        line-height: 25px
        font-weight: 700
      &-block
        line-height: 25px
        font-size: 15px
        & div
          width: 100%
      &-h3
        font-size: 13px
        line-height: 25px
    &__small
      padding: 47px 7px 0
      &-h2
        font-size: 25px
        line-height: 14px
      &-h4
        margin-top: 7px
        font-size: 13px
        line-height: 14px
      & > a
        margin-top: 33px
      &-block
        font-size: 20.1px
        line-height: 15px
      &-p
        font-size: 16px
        line-height: 15px
        margin-top: 13px
      &-1
        grid-row: 2
        grid-column: 1
        height: 100%
      &-2
        grid-row: 3
        grid-column: 1
        height: 100%
      &-3
        grid-row: 3
        height: 100%
  .slider-small
    grid-column: 1/span 2
    height: 100%
    margin: 0
    display: flex
    flex-direction: column-reverse
    justify-content: space-between
    align-items: center
    &__arrow_left
      display: block
      left: 15px
      top: 45%
    &__arrow_right
      display: block
      right: 15px
      top: 45%
    & > a
      margin-bottom: 20px
    &_slide1
      padding: 62px 78px 0
      &-block
        font-size: 26px
        line-height: 25px
        & > div
          margin-bottom: 5px
      &-p
        margin-top: 11px
        font-size: 17px
        line-height: 25px
    &_slide2
      padding-top: 74px
      &-p
        font-size: 15px
        line-height: 24px
        font-weight: 400
      &-h2
        margin-top: 7px
        font-size: 62px
        line-height: 24px
      &-hr
        width: 43px
        margin-top: 17px
      &-h3
        padding-top: 2px
        font-size: 19px
        line-height: 24px
      &-h4
        font-size: 12px
        line-height: 13px
        margin-top: 4px

  .slider-big
    grid-row: 2 / span 3
    height: 328px
    &_slide2
      padding: 74px 10px 0
      &-box
        padding: 25px 0 20px
      &-h2
        font-size: 28px
        line-height: 17px
      &-h3
        font-size: 24px
        line-height: 32px
      &-block
        font-size: 15px
    &_slide1
      padding: 74px 12px 0
      &-h2
        font-size: 30px
        line-height: 19px
      &-h3
        font-size: 27px
      &-block
        margin: 15px 0 10px
        font-size: 15px

  .categories__navigation
    justify-content: center
    flex-direction: row
    padding-top: 50px

  .categories__list
    margin-right: 70px
    &:last-child
      margin-right: 0

  .products
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 20px
    &__item
      margin: 0
      height: 402px
      &-small-img
        height: 40px
        width: 40px
      &-img
        height: 296px
        margin-bottom: 19px
      &-more
        grid-column: 1 / span 3
        margin-bottom: 100px
      &-buttons
        margin-top: 6px
        padding: 6px 12px
        line-height: 16px

  .footer
    display: grid
    grid-template-columns: repeat(3, 1fr)
    &__about
      grid-column: 1/ span 2
      grid-row: 1
    &__blog
      grid-column: 1/ span 2
      grid-row: 2
      &-img
        width: 340px
    &__contact
      grid-column: 1/ span 2
      grid-row: 3
      &-map
        width: 100%
        height: 250px
    &__mail
      grid-column: 1/ span 2
      grid-row: 4
    &__info
      grid-column: 3
      border-left: 1px dashed #888888
    &__social
      grid-column: 1 / span 3
      display: grid
      &_carts
        grid-column: 1
        grid-row: 1
        justify-self: flex-start
        align-self: flex-end
      &-text-block
        grid-column: 1
        grid-row: 2
        display: flex
        align-self: flex-start
      &-links
        grid-column: 2
        grid-row: 1 / spa 2
        justify-self: flex-end

  .anchor
    bottom: 28px
    left: 46.9%
  .alert
    & > h1
      font-size: 1.7em
  .submit
    font-size: 1.5em
    padding: 30px 55px
